*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: #01000c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #fff;
    font-size: 55px;
    margin: 16px 0;
}
.swiper {
    width: 100%;
    height: 100%;
  

  }
  

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 370px;
    height: 290px;
 

   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    background-color: none !important;
    opacity: 1;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }


  /* 
   */
   .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    color: #f1f4f9;
    z-index: 10;
    padding: 10px 20px;
    border-radius: 5px;
   
}

.arrow:hover {
    
    color: #1e1e1e;
    transition: 0.3s;
   
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}